**/node_modules/
**/dist/

.env
client/.env.local
client/.env.development
client/.env.production
server/.env

client/.next/

admin/.next/
admin/.env.local
admin/.env.development
admin/.env.production


server/.next/
server/.env.local
server/.env.development
server/.env.exmple

.DS_Store
Thumbs.db

.vscode/

server/shared-local-instance.db
server/dynamodb-local-metadata.json
shared-local-instance.db